body{
    
background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
tbody button { 
    background-color: red }

canvas{
    background-color: white;
}

h2{
    font-weight: bolder;
    color: black;
}