@import url(https://fonts.googleapis.com/css?family=Roboto:300);

h1{
    font-weight: bold;
}




#header{
    
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}

body{
    font-family: "Roboto";
    background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.inner-row{
    height: 70vh;
    
}

.primaryColor{
    color: #0082ff;
   

}

.form-box{
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}



#boton{
    
    height: 10;
}

/* Quitar boton de incremento al momento de ingresar un numero */
/* Chrome, Safari, Edge, Opera */ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}