<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoraDoc</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/Css/login-register.css">

</head>

<header class = "container-fluid bg-light d-flex justify-content-center p-0" id="header">
    <p>CoraDoc</p>

</header>

<body>

    <div class="container">

        <div class="form-box registration-form p-md-5 p-3">
          <div class="form-title">
            <h2 class="fw-bold mb-3">Crea Tu Cuenta</h2>
          </div>
          <form action="">
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-sm" placeholder="Primer Nombre" id="floatingInput">
              <label for="floatingInput">Primer Nombre</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-sm" placeholder="Apellido" id="floatingInput">
              <label for="floatingInput">Apellido</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control form-control-sm" placeholder="Cedula Profesional" id="floatingInput">
              <label for="floatingInput">Cedula Profesional</label>
            </div>

            <div class="form-floating mb-3">
  
              <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="E-mail">
              <label for="floatingInput">Correo</label>

            </div>

            <div class="form-floating mb-3">
              <input type="password" id="password" name="password" placeholder="password" class="form-control form-control-sm">
              <label for="floatingPassword">Contraseña</label>
            </div>


            <div class="mt-3">

              <!-- <button type="button" id="submitData" name="submitData" class="registerbtn">Registrate</button> -->
              <button type="button" name="submitData" class="btn btn-primary" id="submitData" aria-pressed="true" >Registrarse</button>

            </div>

          </form>
            <div class="mt-3">
              <span>¿Ya tienes una cuenta?</span>
              <a href="/Templates/Login.html" class="p-0 border-0 bg-transparent primaryColor"> Iniciar Sesion </a>
            </div>


        </div>

            
    </div>

</body>


    



<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
    import { getAuth, createUserWithEmailAndPassword,signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";
    import { getDatabase,set,ref,update } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-database.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
    
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyDeqKO79QyhLyOCTSvD1uPUp2mX5GY-dvg",
      authDomain: "tc2007b-coradoc.firebaseapp.com",
      databaseURL: "https://tc2007b-coradoc-default-rtdb.firebaseio.com",
      projectId: "tc2007b-coradoc",
      storageBucket: "tc2007b-coradoc.appspot.com",
      messagingSenderId: "450604347298",
      appId: "1:450604347298:web:2f23a4f576d2d5f5748cfb"
    };


  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
    const database = getDatabase(app);

    submitData.addEventListener('click', (e) => { 

        var email = document.getElementById('email').value
        var password = document.getElementById('password').value

        // CREAR USUARIO 
        createUserWithEmailAndPassword(auth, email, password)
         .then((userCredential) => {
           
            const user = userCredential.user;

            // uid es el unique id que se genera al crear el usuario que se guarda en la base de datos
            set(ref(database, 'users/' + user.uid), {
                
                email: email,
                password: password
            })
                .then(() => {
                    alert('Usuario creado!');
                
                })
                .catch((error) => {
                    alert(error);
                    
                });
            
               
        })
        .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
            
            alert(errorMessage);
        });

    });
    /*
    // iniciar sesion
    botonLogin.addEventListener('click', (e) => {

        var email = document.getElementById('email1').value;
        var password = document.getElementById('password1').value

        signInWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in
                const user = userCredential.user;
                
                var lgDate = new Date();

                update(ref(database, 'users/' + user.uid), {
                    
                    last_login: lgDate,

                })
                    .then(() => {
                        alert('user logged in !');
                    
                    })
                    .catch((error) => {
                        alert(error);
                        
                    });
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                alert(errorMessage);
            });



               signOut(auth).then(() =>{
                }).catch((errror) => {

                });
                
              
    }); 
   */
    

</script>
</html>